
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <section>
        <div class="my-5 justify-content-center">
            <div class="text-center w-100">
                <h2 class="display-6">Veggies</h2>
                <hr>
            </div>
            <div class="container menuimg">
                <div class="row">
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3 ">
                        <figure>
                            <img src="..\static\Images\Bitter-Guard.png" class="img-fluid alt=" images">
                            <h4> 1.Bitter Guard</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>

                            <h5>Rs 40(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\cabbage.jpg">
                            <h4> 2.Cabbage</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
                    
                            <h5>Rs 80(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\tomato .jpg" class="img-fluid alt=" images">
                            <h4> 3.Tomato</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
                     
                            <h5>Rs 120(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\row1_col1.png" class="img-fluid" alt="images">
                            <h4> 4.Potato</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
                    
                            <h5>Rs 65(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\Onion.png" class="img-fluid" alt="images">
                            <h4> 5.Onion</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
                
                            <h5>Rs 65(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\cauliflower.jpg" class="img-fluid" alt="images">
                            <h4> 6.Cauliflower</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
         
                            <h5>Rs 150(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\lemon.jpg" class="img-fluid" alt="images">
                            <h4> 7.Lemon</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
              
                            <h5>Rs 234(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\green chilli.jpg" class="img-fluid" alt="images">
                            <h4> 8.Green Chilli</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
                
                            <h5>Rs 147(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\ginger.jpg" class="img-fluid" alt="images">
                            <h4> 9.Ginger</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
                        
                            <h5>Rs 125(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\garlic.jpg" class="img-fluid" alt="images">
                            <h4> 10.Garlic</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
               
                            <h5>Rs 250(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\eggplant.jpg" class="img-fluid" alt="images">
                            <h4> 11.EggPlant</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
          
                            <h5>Rs 95(Kg)</h5>
                        </figure>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 col-xxl-3">
                        <figure>
                            <img src="..\static\Images\dry chilli.jpg" class="img-fluid" alt="images">
                            <h4> 12.Dry Red Chilli</h4>
                            <button>add to cart</button>
                            <i class="bi bi-star-fill"></i>
                   
                            <h5>Rs 485(Kg)</h5>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>
</html>





